# Folders
scripts/
__pycache__/
env/
venv/
.env/
.venv/
.idea/
.vscode/

# Files
.DS_Store
.env
.env.example
sqlite.db
attendance.txt

# Documentation (Optional to ignore, but based on current .gitignore)
API_DOCUMENTATION.md
FASTAPI.md
FEATURES.md
USER_PERMISSIONS_MATRIX.md

# Python
*.py[cod]
*$py.class
*.so
.Python
.eggs/

